@{
    ViewData["Title"] = "Home Page";
}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">MiniCourse</h1>
            <p class="lead fw-normal text-white-50 mb-0">SSTTEK Bootcamp Bitirme Ödevi</p>
        </div>
    </div>
</header>

@model HomeViewModel

<div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

        @foreach (var course in Model.HomeCourses)
        {
            <div class="col mb-5">
                <div class="card h-100 shadow-sm">
                    <img class="card-img-top" src="~/img/@course.CourseImage" alt="..." />
                    <div class="card-body p-4">
                        <div class="text-center">
                            <a class="text-decoration-none text-black" asp-controller="Courses" asp-action="Detail" asp-route-courseId="@course.Id"><h5 class="fw-bolder">@course.Title</h5></a>
                            @course.Price  ₺
                        </div>
                    </div>
                    <p class="text-center">@course.Category.Name</p>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto add-to-basket" data-course-id="@course.Id" href="#">Sepete Ekle</a></div>
                    </div>
                </div>
            </div>
        }

    </div>
</div>
